In [1]:
import pandas as pd
import numpy as np
import ast
from tqdm import tqdm

In [3]:
user_job = pd.read_csv("data/user_job.csv")
position_job = pd.read_csv("data/position_job.csv")

In [10]:
user_job.values

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 1, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [4]:
position_job

,Hadoop大数据开发工程师,其他,图像处理工程师,数据分析师,数据挖掘工程师,机器学习工程师,算法工程师,自然语言处理工程师,计算机视觉工程师
0,0,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0
3,0,0,0,1,1,0,0,0,0
4,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
1570,0,0,0,0,0,0,1,0,0
1571,0,1,0,0,0,0,0,0,0
1572,0,1,0,0,0,0,0,0,0
1573,0,1,0,0,1,0,1,0,0
1574,0,0,0,1,0,0,0,0,0

In [5]:
user_job_matrix = user_job.values
position_job_matrix = position_job.values

In [6]:
def judge_industry(user,position):
    return (user_job_matrix[user]*position_job_matrix[position]).sum()>0

In [7]:
judge_industry(0,0)

True

In [2]:
result31 = pd.read_csv('./res/result3-1.csv')
result31.head()

               招聘信息 ID               求职者 ID     岗位匹配度
0  1648527394191052802  1469967882053091328  0.818127
1  1648527394191052802  1469173034668654592  0.794768
2  1648527394191052802  1503675724379324416  0.769387
3  1648527394191052802  1573938917198135296  0.759405
4  1648527394191052802  1498147738557218816  0.754274

In [6]:
nparr = result31.values
for i in tqdm(result31.index):
  x = nparr[i,2]
  nparr[i,2] = round(x,2)

100%|██████████| 3455500/3455500 [00:17<00:00, 198363.21it/s]

In [7]:
result31 = pd.DataFrame(data=nparr,columns=result31.columns)

In [8]:
result31.head()

        招聘信息 ID        求职者 ID  岗位匹配度
0  1.648527e+18  1.469968e+18   0.82
1  1.648527e+18  1.469173e+18   0.79
2  1.648527e+18  1.503676e+18   0.77
3  1.648527e+18  1.573939e+18   0.76
4  1.648527e+18  1.498148e+18   0.75