In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [25]:
df_map = pd.read_csv('./recruit_folder.csv')
df_per = pd.read_csv('./user_dict',sep='\t')
df_rec = pd.read_csv('./jd_dict',sep='\t')

In [26]:
per_id = {}
for i in df_per.index:
  per_id[df_per.iloc[i,0]] = df_per.iloc[i,1]
rec_id = {}
for i in df_rec.index:
  rec_id[df_rec.iloc[i,0]] = df_rec.iloc[i,1]

In [28]:
df_map

       RECRUIT_ID  PERSON_ID  LABEL
0            1135      40121      0
1             305       4973      0
2             664       9112      0
3             221      13978      0
4             322      41717      0
...           ...        ...    ...
35286        1213       2949      0
35287         284      19247      0
35288         748      39496      0
35289         491       7187      1
35290        1024      42790      0

[35291 rows x 3 columns]

In [27]:
for i in tqdm(df_map.index):
  raw_pid = df_map.loc[i,'PERSON_ID']
  df_map.loc[i,'PERSON_ID'] = per_id[raw_pid]
  raw_rid = df_map.loc[i,'RECRUIT_ID']
  df_map.loc[i,'RECRUIT_ID'] = rec_id[raw_rid]

100%|██████████| 35291/35291 [00:08<00:00, 4336.81it/s]

In [24]:
df_map.to_csv('./per_job_map.csv',header=['job','person','label'],index=None)

In [37]:
x=np.array((3,4))
x

array([3, 4])